@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Teko');

body
{   background-color: #080505 ;
    color : white ;
    margin : 0 ;
}

.header
{   z-index : 2 ;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    font: 20px 'Raleway' ;
    text-transform: uppercase;
    background: #131519;
}

.logo-link
{
	display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90px;
    min-width: 190px;
    margin-left: -40px;
    padding-left: 35px;
    transform: skew(-15deg,0);
    background: #0764b4;
    transition: background-color .25s;
}

.logo-link:hover
{
	background: #087ce0 ;
}

a
{	text-decoration: none ;
}

.fl
{	margin : 0.5em 0.4em ;
	transform: skew(15deg, 0) ;
}

.logo-link div 
{
	height: 80px ;
	width: 105px ;
	transform: skew(15deg,0);
    background: url('./images/logo.png') no-repeat 50%;
    background-size: contain;
}

.nav-link
{
	display: flex;
    background: #131519;
    align-items: center;
    justify-content: center;
}

.link
{	margin : 0 0.1em ;
	padding-left: 0.5em;
    border-bottom: 1px solid #17191d;
    color: #fff;
    min-width: 9vw ;
    min-height: 2.5em ;
    font: 32px 'Teko';
    text-transform: uppercase;
    transition: background-color .25s;
    transform: skew(-15deg, 0) ;
}

.link:hover
{
	background-color: rgba(102, 162, 214, 0.6) ; 
}

[aria-current="true"]
{
	background-color: rgba(102, 162, 214, 0.6) ;
	border-bottom: 2px solid #0764b4 ;	
}

.download
{	position: fixed ;
	border-color: #e79544;
    outline-color: #f0b94e;
    background: #ef9332;
    text-shadow: #bf5915 2px 2px;
    min-width: 10vw ;
    transition: background .25s;
    min-height: 90px ;
    right : 0 ;
    letter-spacing: 0.2em ;
}

.dl-text
{	color : white ;
	font: 24px 'Teko';
	margin : 1.1em 0.6em ;
    text-align: center;
}

.download:hover
{
	background: #f48c18 ;
    cursor : pointer ;
}

.pic
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 310px ;
    padding-top: 75vw;
    background: #333 url('./images/use.png') ;
    background-repeat:  no-repeat ;
    background-size: 100% auto;
}

@media only screen and (max-width: 640px) 
{   .pic 
    {
        height: calc(100vh + 175px);
        padding-top: 36vw;
        background-image: url('./images/use.png');
    }
}

.watch
{   position : relative ;
    margin: 3em 1.5em;
    width: 280px;
}

.watch:before
{
    content: " ";
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    border: 20px solid;
    border-image: url('./images/border2.png') 40 repeat;
}

.cont
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.wv-text
{   position: relative; 
    top : 1.1em ;   
}

#wv
{   /*position: fixed ;*/
    border-color: #5abff3 ;
    outline-color: #4891eb;
    background: #468dea;
    text-shadow: #2b4359 2px 2px;
    /*min-width: 10vw ;
    transition: background .25s;
    min-height: 90px ;
    right : 0 ;*/
}

/*h1
{   font-family: 'Teko' ;
}*/

#wv:hover
{
    background : #307ee5 ;
}